body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    
}
.container {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.two-columns {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 50px 10px 0px 10px;
    background-color: #BDE8F5;
    border-radius: 8px;
    min-height: 40rem;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 20px;
    gap: 10px;
}
.menu a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.menu a {
    width: 100%;
}

.menu-btn {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    border: none;
    background-color: #F5F2F2;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.menu-btn:hover {
    background-color: #1C4D8D;
    color: white;
}
.menu-btn.active {
    background-color: #1C4D8D;
    color: white;
}
.content h2 {
    text-align: center;
}
.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    margin: 6px 32px;
}

.dashboard-card {
    background: white;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: box-shadow 0.3s;
}

.dashboard-card:hover {
    box-shadow: 0 10px 20px #BDE8F5;
}

.dashboard-card h3 {
    margin-bottom: 16px;
    color: #333;
}

.dashboard-card .count {
    font-size: 48px;
    font-weight: bold;
    color: #1C4D8D;
    margin: 16px;
}

.btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s;
    margin-top: 1rem;
}

.btn-primary {
    background-color: #1C4D8D;
    color: white;
}

.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px #1C4D8D;
}
