body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

}
.container {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.two-columns {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 50px 10px 0px 10px;
    background-color: #BDE8F5;
    border-radius: 8px;
    min-height: 40rem;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 20px;
    gap: 10px;
}
.menu a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.menu a {
    width: 100%;
}

.menu-btn {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    border: none;
    background-color: #F5F2F2;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.menu-btn:hover {
    background-color: #1C4D8D;
    color: white;
}
.menu-btn.active {
    background-color: #1C4D8D;
    color: white;
}
.content h2 {
    text-align: center;
}
table {
    margin: 0 10px;
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #caf0f8;
}
tr:hover {
    background-color: #90e0ef;
    color: black;
    transition: 0.2s all ease-in-out;
}
th {
    background-color: #023e8a;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
.btn {
    margin-bottom: 4px;
    padding: 6px 12px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.btn-update{
    background-color: #1C4D8D;
    color: white;
}
.btn-update:hover {
    background-color: #023e8a;
}
.btn-delete {
    background-color: #e63946;
    color: white;
}
.btn-delete:hover {
    background-color: #b22234;
}
