body {
    font-family: Roboto, sans-serif;
    background: #f5f5f5;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 800px;
    margin: 50px auto;
    background: white;
    border: 1px solid #ddd;
}

.left {
    background: #ffe0ca;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.right {
    padding: 20px;
}

form {
    display: grid;
    gap: 10px;
}

.two-columns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}
/*.two-columns label input {*/
/*    width: 100%;*/
/*}*/

label {
    font-size: 14px;
}

input {
    padding: 8px;
    font-size: 14px;
}

input[type="submit"] {
    padding: 10px;
    background: #134074;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #0077b6;
    transition: 0.2s all ease-in-out;
}

