/* body{
    color: red;
} */
h1{
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
}

p{
    text-align: center;
    color:black;
    margin-bottom: 25px;
    font-size: 20px;
}
.labContainer{
    max-width: 80%;
    margin: 30px auto;
    font-family: 'Poppins' , sans-serif;
}

.search-bar{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 15px;
}

.test-card{
    background: #e5e5e5;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.test-card.compact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test-card.detailed .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}
.test-card.detailed p{
    font-size: 15px;
}
.test-card.compact h4{
    font-size: 20px;
}
.test-card.compact .location{
    font-size: 15px;
}

.test-card h3{
    font-size: 14px
}
.test-card h4{
    font-size: 10px
}

.location{
    font-size: 10px;
    color: #555;
}
.book-btn{
    padding: 6px 12px;
    font-size: 10px;
    border-radius: 10px;
}

.book-btn:hover{
    background: gray;
}



.no-result{
    text-align: center;
    color: #777;
    margin-top: 20px;
}