*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: white;
    color: #222;
    margin-bottom: 120px;
}
h1{
    text-align: center;
    color:#000;
    margin-bottom: 30px;
    font-size: 1.5rem;
}
p{
    text-align: center;
    color: #000;
    margin-bottom: 25px;
    font-size: 1.3rem;
}
/* main part */
.medicine{
    padding: 20px;
}
.container{
    max-width: 80%;
    margin: auto;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
}
.container h2{
    margin-bottom: 15px;
    font-size: 20px;
    color: #363333;
}
/* SEarch bar */
.search-bar{
    width: 80%;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 25px;
    font-size: 15px;
}

/* items */
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eddddd;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: background 0.2s ease;
}
.item:hover{
    background-color: rgb(170, 167, 167);
}
/* medicinetext */
.info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.info h4{
    font-size: 15px;
    font-weight: 600;
}
.price{
    font-size: 14px;
    color: #222;
    font-weight: 500;
}
/* qty part */
.quantity{
    display: flex;
    align-items: center;
    gap: 10px;
}
.btnPlus,.btnMinus{
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    /* background-color:black; */
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease;
}
.btnPlus:hover,.btnMinus:hover{
    background-color: aqua;
}
.btnPlus:active,.btnMinus:active{
    transform: scale(0.9);
}
.qty{
    width:30px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}
.total{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}
.total p{
    font-size: 20px;
}
/* cart button */
.add_to_cart{
    width: 40%;
    margin: 25px auto 10px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: lightblue;
    color: black;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    display: block;
    transition: background 0.2s ease, transform 0.1s ease;
}
.add_to_cart:hover{
    background-color: rgb(103, 103, 202);
}
.add_to_cart:active{
    transform: scale(0.95);
}

/* last summery */
#purchasedSummary{
    margin-top: 25px;
    background-color: white;
    padding: 18px;
    border-radius: 10px;
}
#purchasedSummary h3{
    margin-bottom: 10px;
    font-size: 18px;
}
#purchasedSummary p{
    font-size: 15px;
    margin-bottom: 5px;
    color: #333;
}

.no-result{
    text-align: center;
    color: #777;
    font-size: 15px;
    margin-top: 20px;
}

