body {
    font-family: Roboto, sans-serif;
}
header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 10px 20px;
}
header img {
    margin-right: 40px;
}

.header-nav {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 600px;
    background-color: #134074;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.navigation li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

.navigation li a:hover {
    background-color: #0077b6;
    transition: 0.2s all ease-in-out;
}

.active {
    background-color: #0077b6;
}

.auth {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    list-style-type: none;
}

.auth li {
    margin: 0;
    padding-bottom: 10px;
}

.auth a {
    background-color: #134074;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}